html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Bitter", serif;
  color: #143642;
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-color: #b3efb2;
}

.header__title {
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 5em;
}

.header__sub-title {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

.header__hero {
  width: 100vw;
}

.recipe__content {
  min-height: 65vh;
  height: 100%;
}

.recipe__search {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
  flex-wrap: wrap;
}

.recipe__search__form {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  .recipe__search__input {
    width: 60vw;
  }
  .recipe__search__button {
    width: 20vw;
    height: 100%;
    background-color: #e8f1f2;
    &:hover {
      background-color: #7a9e7e;
    }
    order: 1;
  }

  .recipe__search__input {
    order: 2;
    text-align: center;
  }
}

.search__filters__show {
  width: 20vw;
  flex-wrap: wrap;
  background-color: #e8f1f2;
  &:hover {
    background-color: #7a9e7e;
  }
}

.search__filters--visible {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0;
  top: 1.9em;
}

.recipe__search__filters {
  width: 100vw;
  background-color: #7a9e7e;
  border: 1px solid #143642;
  position: relative;
  color: #e8f1f2;
  display: flex;
  flex-wrap: wrap;

  .recipe__individual__filter {
    padding-left: 10px;
  }

  .search__filters__apply {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: 15px;
    margin-bottom: 5px;
  }
}

.search__filters--notVisible {
  display: none;
}

.recipe__page__images--showing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .recipe__page__images__title {
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  .recipe__page__image__container {
    margin-top: 30px;
    margin-left: 5vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    justify-content: center;
    border: 1px dashed #143642;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
         opacity: 0.5;
         transition: 0.5s
       }
    }

    .recipe__page__images__image {
      width: 90%;
      display: flex;
      align-self: center;
    }
    .recipe__page__images__caption {
      position: absolute;
      display: flex;
      bottom: 7%;
      left: 5%;
      width: 100%;
      font-size: 1.4em;

      .recipe__page__images__span {
        letter-spacing: -1px;
        background: rgb(179, 239, 178); /* fallback color */
        background: rgba(179, 239, 178, 0.7);
        padding: 10px;
      }
    }
  }

.recipe__page__images--notShowing {
  display: none;
}

.recipe__results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.recipe__result__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 30px 10px 30px;
  padding: 10px 0px 10px 0px;
  // border: 1px dashed #143642;
  border-radius: 6px;
  width: 80vw;

  .recipe__result__item__image {
    width: 95%;
    transition: 0.5s;
  }

  .recipe__result__item__title {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
  }

  .recipe__result__item__labels {
    list-style: none;
    font-size: 0.9em;
    color: #3b5058;
    display: flex;
    padding-left: 5px;
    flex-wrap: wrap;
    justify-content: center;

    .recipe__result__item__individual-label {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;
      margin: 5px 5px 5px 5px;
      border-radius: 4px;
      flex-wrap: wrap;
      background-color: #e8f1f2;
    }
  }
  .recipe__result__item__link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #7a9e7e;
    &:hover {
      color: #3b5058;
    }
  }
}

.recipe__result__ingredients__button {
  background-color: #e8f1f2;
  &:hover {
    background-color: #7a9e7e;
  }
}

.recipe__result__ingredients__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
  padding-bottom: 5px;
}

.--noShow {
  display: none;
}

.pages {
  margin-top: 30px;
  padding-top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

.pages__mobile__button--results {
  display: flex;
  background-color: #e8f1f2;
  &:hover {
    background-color: #7a9e7e;
  }
  margin-bottom: 20px;
}

.pages__mobile__button--noResults {
  display: none;
}

.pages__tablet__desktop {
  display: none;
}

@media (min-width: 768px) {

  .recipe__search__filters {
  
    .recipe__individual__filter {
      font-size: 1.2em;
    }

  }

  .recipe__page__images--showing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .recipe__page__images__title {
      margin-top: 30px;
      margin-bottom: 0px;
      display: flex;
      width: 100%;
      align-self: center;
      justify-content: center;
    }

    .recipe__page__image__container {
      margin-top: 30px;
      margin-left: 2vw;
      width: 30%;
      display: flex;
      flex-direction: column;
      position: relative;
      align-content: center;
      justify-content: center;
      border: 1px dashed #143642;
      border-radius: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0.6em;
      &:nth-child(2) {
        width: 93%;
        font-size: 1.5em;
      }
    }
    .recipe__page__images__caption {
      position: absolute;
      display: flex;
      bottom: 2%;
      left: 5%;
      width: 100%;

      .recipe__page__images__span {
        letter-spacing: -1px;
        background: rgb(179, 239, 178); /* fallback color */
        background: rgba(179, 239, 178, 0.7);
        padding: 10px;
      }
    }
  }


  .recipe__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .recipe__result__item {
      align-self: flex-start;
      width: 40%;
      margin-left: 10px;
      margin-right: 10px;
    }

  }
}

@media (min-width: 960px) {
  .header {
    font-size: 1.7em;
  }

  .recipe__individual__filter{ 
    font-size: 1.5em;
  }

  .search__filters__diet__checkbox
  .search__filters__health__checkbox {
    width: 20px;
    height: 20px;
  }

}
